{% extends "base.html" %} {% block content %}
<h1>Select File For Upload</h1>
<form method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }} {{ form.file }}
  <input type="submit" />
  {% if error %}
  <p class="error"><strong>Error:</strong> {{ error }} {% endif %}</p>
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock content %}
